.item {
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.05),
    0 22px 27px -20px rgba(7, 10, 25, 0.05) !important;
  border-radius: 15px !important;
}
.wrapper {
  position: relative;
  padding: 15px 0;
}

.media {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  max-height: 390px;
}
.avatar {
  margin-right: 13px;
}

.body {
  padding: 0 16px !important;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.like {
  cursor: pointer;
}

.like__active {
  color: #ff0000;
}

.like__active svg path {
  fill: #ff0000;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date_icon {
  margin-right: 10px;
}

.remove_icon {
  position: absolute;
  right: 10px;
  top: 25px;
  visibility: none;
  opacity: 0;
  transtition: opacity 1s ease-in;
  cursor: pointer;
}

.item:hover .remove_icon {
  opacity: 1;
  visibility: visible;
}
