@import '~normalize.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Segoe UI', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.modal {
}

.speed-dial__action {
    display: inline-flex;
    align-items: center;
}

.speed-dial__action:hover {
    color: initial;
}

.slick-slider, .slick-list {
    position: static;
}

.posts-carousel .slick-track {
    display: flex !important;
}

.posts-carousel .slick-slide {
    height: inherit !important;
    margin: 0 10px;
}

.posts-carousel .slick-list {
    margin: 0 -10px;
    padding: 10px 0px;
}

.posts-carousel .slick-slide,
.posts-carousel .slick-slide > div {
    height: 100%;
}

.reviews-carousel .slick-list {
    padding: 10px 0;
}

.slick-next {
    bottom: 0;
    right: 0;
    position: absolute !important;
}
.slick-prev {
    bottom: 0;
    position: absolute !important;
}

.posts-carousel .slick-prev:before,
.posts-carousel .slick-next:before,
.reviews-carousel .slick-prev:before,
.reviews-carousel .slick-next:before {
    font-family: 'initial';
    content: '';
    font-size: auto;
    line-height: auto;
    opacity: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.posts-carousel .slick-next {

    top: 10px;
    right: 0;

}
.posts-carousel .slick-prev {

    top: 10px;
    right: 0;

}*/

.MuiMenu-list a {
    text-decoration: none;
}